<h1 class="mt-3">{{ title }}</h1>

<div class="row" *ngIf="movies">
    <div class="col">
        <div class="row">
            <div class="col container-pic1 pointer" [routerLink]="['/movie', movies[0].id]" [ngStyle]="{'background-image': 'url(' + (movies[0] | imageMovie) + ')'}">
                <p class="pic-title">{{movies[0].original_title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col container-pic2 pointer" [routerLink]="['/movie', movies[1].id]" [ngStyle]="{'background-image': 'url(' + (movies[1] | imageMovie) + ')'}">
                <p class="pic-title">{{movies[1].original_title}}</p>
            </div>
            <div class="col container-pic2 pointer" [routerLink]="['/movie', movies[2].id]" [ngStyle]="{'background-image': 'url(' + (movies[2] | imageMovie) + ')'}">
                <p class="pic-title">{{movies[2].original_title}}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col container-pic2 pointer" [routerLink]="['/movie', movies[3].id]" [ngStyle]="{'background-image': 'url(' + (movies[3] | imageMovie) + ')'}">
                <p class="pic-title">{{movies[3].original_title}}</p>
            </div>
            <div class="col container-pic2 pointer" [routerLink]="['/movie', movies[4].id]" [ngStyle]="{'background-image': 'url(' + (movies[4] | imageMovie) + ')'}">
                <p class="pic-title">{{movies[4].original_title}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col container-pic1 pointer" [routerLink]="['/movie', movies[5].id]" [ngStyle]="{'background-image': 'url(' + (movies[5] | imageMovie) + ')'}">
                <p class="pic-title">{{movies[5].original_title}}</p>
            </div>
        </div>
    </div>
</div>