<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">MoviesApp</h1>
        <p class="lead">This is a movies application.</p>
    </div>
</div>

<div class="container">
    <app-gallery [movies]="boxOffice | slice:0:6" title="Box Office"></app-gallery>
    <app-gallery [movies]="popular | slice:0:6" title="Most popular movies"></app-gallery>
    <app-gallery [movies]="childrenPopular | slice:0:6" title="Most popular children movies"></app-gallery>
</div>