<h4>Forms <small>component</small></h4>
<hr>
<form [formGroup]="form" (ngSubmit)="save()">
    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Name</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Name" formControlName="name">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Surnames</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Surnames" formControlName="surnames">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Email</label>
        <div class="col-md-8">
            <input class="form-control" type="email" placeholder="Email" formControlName="email">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
              Save
            </button>
        </div>
    </div>

    {{form.valid}}
</form>