<h4>Forms <small>template</small></h4>
<hr>
<form novalidate="" (ngSubmit)="save(form)" #form="ngForm">
    <div>
        <div class="form-group row" [ngClass]="{'has-danger': name.errors && name.touched}">
            <label class="col-2 col-form-label">Name</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Name" name="name" [(ngModel)]="user.name" required minlength="5" #name="ngModel">
                <div *ngIf="name.errors?.required" class="form-control-feedback">
                    This field is required
                </div>
                <div *ngIf="name.errors?.minlength" class="form-control-feedback">
                    This field must be at least {{name.errors.minlength.requiredLength}} characters long
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Surnames</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Surnames" name="surnames" [(ngModel)]="user.surnames" required #surnames="ngModel">
                <div *ngIf="surnames.errors?.required">
                    This field is required
                </div>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Email</label>
        <div class="col-md-8">
            <input class="form-control" type="email" placeholder="Email" name="email" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">
            <div *ngIf="email.errors?.required">
                This field is required
            </div>
            <div *ngIf="email.errors?.pattern">
                This field must be a valid email
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid">
              Save
            </button>
        </div>
    </div>
</form>