<h1>Heroes</h1>
<hr>

<div class="row mb-2 animated fadeIn fast">
    <div class="col-md-12 text-right">
        <button [routerLink]="['/hero', 'new']" class="btn btn-outline-primary" type="button" name="button">Add hero</button>
    </div>
</div>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of heroes | keys; let i = index;">
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ heroes[k].name }}</td>
                        <td>{{ heroes[k].publisher }}</td>
                        <td>
                            <button [routerLink]="['/hero', k]" type="button" class="btn btn-outline-success">Edit</button>
                            <button (click)="deleteHero(k)" type="button" class="btn btn-outline-danger ml-2">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>