<div class="alert" [ngClass]="alert" role="alert">
    A simple success alert—check it out!
</div>

<button type="button" class="btn btn-info mr-2" (click)="alert = 'alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="alert = 'alert-success'">Success</button>

<br><br>

<h3 [ngClass]="{'text-danger': properties.danger, 'text-info': !properties.danger}">
    Hello world
</h3>

<button class="btn btn-danger" (click)="properties.danger = !properties.danger" [ngClass]="{'btn-danger': properties.danger, 'btn-info': !properties.danger}">
    Change
</button>

<br><br>

<button class="btn btn-primary" (click)="exec()" [disabled]="loading">
    <i [ngClass]="{'fa-save': !loading, 'fa-sync fa-spin': loading}" class="fas mr-1"></i>
    <span *ngIf="!loading">Save changes</span>
    <span *ngIf="loading">Saving...</span>
</button>